<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화공구함</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="layoutWrap">
        <div class="layoutLeft">

        </div>
        <div class="layoutRight">
            <div class="headerSection">
                <div class="logo"></div>
                <div class="noti"></div>
                <div class="mypage"></div>
            </div>
            <!--여기에 수정하세요-->
            <div class="design_title">오픈 디자인 등록</div>
            <div class="design_info">
                <p>
                    <input 
                    type="text" 
                    name="name" 
                    placeholder="디자인 이름을 입력해주세요">
                </p>
                <div class="design_img"></div>
                <textarea placeholder="자유롭게 써주세요 출처를 밝혀주세요 변형하지 말아주세요"></textarea>
            </div>  
        </div>
        <div id="sdaf"></div>
    </div>
</body>
</html>