<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화공구함</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="layoutWrap">
        <div class="layoutLeft">

        </div>
        <div class="layoutRight">
            <div class="headerSection">
                <div class="logo"></div>
                <div class="noti"></div>
                <div class="mypage"></div>
            </div>
            <ul class="indexNav">
                <li><a class="active" href="#">공구하기</a></li>
                <li><a href="#">총대매기</a></li>
            </ul>
            <div class="indexProductAdContainer">
                <div class="indexProductAdImg"></div>
                <div class="indexProductAdDescBg">
                    <div class="indexProductAdtext">오늘 공구 마감이에요! 3자리 남았어요!</div>
                    <div class="indexProductAddesc">[후드티] 어쩌고 저쩌고 후드티 상품 설명란임...</div>
                </div>
            </div>
            
            <div class="indexProductsList">
                <div class="indexProductsListTitle">지금 진행중인 공구 아이템</div>
                <div class="ProductBox">
                    <div class="ProductImg"></div>
                    <div class="ProductDesc">
                        <a class="ProductCat">학잠</a>
                        <p class="Producttext">상품 설명 영역 4온스 솜이 들어있어 보온이 잘 되는 야구점퍼 입니다</p>
                        <div class="progressbarBox">
                            <div class="attendees">20명</div>
                            <div class="maxAttendees">/30명</div>
                            <div class="ddayCount">마감까지 7일</div>
                            <div class="progressbarBg">
                                <div class="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mydesignOpenBtn">
                <div class="mydesignOpenBtnText"><span class="mydesignOpenBtnTextHl">내 디자인</span>으로 총대매기</div>
            </div>
            <div class="mydesignOpenBtn">
                <div class="mydesignOpenBtnText"><span class="mydesignOpenBtnTextHl">오픈 디자인</span>으로 총대매기</div>
            </div>
            <div class="indexProductsList">
                <div class="indexProductsListTitle">역대 오픈 디자인 랭킹</div>
                <div class="ProductBox">
                    <div class="ProductImg"></div>
                    <div class="ProductDesc">
                        <a class="ProductCat">학잠</a>
                        <p class="totalSold">역대 공구 참여 인원 <span class="totalSoldHl">23,807명</span></p>
                        <button class="opendesignOpenBtn"><a>이 디자인으로 총대매기</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>