<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화공구함</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="layoutWrap">
        <div class="layoutLeft">

        </div>
        <div class="layoutRight">
            <div class="headerSection">
                <div class="logo"></div>
                <div class="noti"></div>
                <div class="mypage"></div>
            </div>
            <!--여기에 수정하세요-->
            <div class="login">
                <p class="login-text">로그인</p>
                <form action="/login" method="post">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" placeholder=" 이메일 주소" required>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder=" 비밀번호" required>

                    <input type="submit" value="로그인">
                </form>
                <button type="submit" class="signup-button" formaction="/register">회원가입</button>
            </div>

            
        </div>
        <div id="sdaf"></div>
    </div>
</body>
</html>