/* 공통 CSS */

*{
    margin: 0;
}

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Makgeolli';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/Makgeolli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.layoutWrap {
    display: flex;
    height: auto;
    min-height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
    background: #f9f9f9;
}

.layoutLeft {
    display: none;
    width: 385px;
}

.layoutRight {
    width: 393px;
    height: 100%;
    min-height: 100vh;
    background: #fff;
}

.serviceCopy{
    font-family: 'Makgeolli';
    font-size: 35px;
    position: fixed;
    top: 35%;
    transform: translateY(-35%);
}


.serviceName{
    font-family: 'Makgeolli';
    font-size: 100px;
    position: fixed;
    top: 45%;
    transform: translateY(-45%);
    color:#025F2D;
}


/* 윈도우 화면이 900px 초과일 때 */
@media screen and (min-width: 900px) {
    .layoutLeft {
        display: block; /* .layoutLeft 보이게 함 */
        margin-right: 60px;
    }
}

/* 윈도우 화면이 800px 이하이고, .layoutRight 화면 그기가 393px 이상일 때 */
@media screen and (max-width: 800px) {
    .layoutLeft {
        display: none; /* .layoutLeft 감춤 */
    }
}



/* 상단바 */

/* header section */
.headerSection{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 393px;
    height: 55px;
    padding: 10px 15px;
    border-bottom: solid 1px #EEEEEE;
}


/* noti */
.notiNmypage > a{
    text-align: center;
    font-size: 23px;
}
.noti, .mypage {
    margin-right: 12px;
}
.notiNmypage{
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* 로고 */
.logoBox{
    display: flex;
    align-items: center;
}
.logo {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
.logoText{
    font-family: 'JeonjuCraftGoR';
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 2px;
}


/* index.html */

/* nav */
.indexNav{
    display: block;
    list-style-type: none;
    padding: 0px 15px;
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
    width: 323px;
    height: 50px;
    align-items: center;
}

/* 공구하기 */

.indexNav > li{
    display: inline-block;
    width: 25%;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.indexNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}

.indexNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}

/* products ad container */
.indexProductAdContainer{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 380px;
    height: 300px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

/* 광고 이미지 예시*/
.indexProductAdImg{
    width: 320px;
    height: 195px;
    padding: 15px 10px;
}


/* products desc */
.indexProductAdDescBg{
    display: inline-block;
    width: 370px;
    height: 88px;

    background: #025F2D;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}


/* 광고용 멘트 */
.indexProductAdtext{
    display: inline-block;
    width: 332px;
    height: 22px;
    margin-top: 16px;
    margin-left: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

/*상품 설명란 */
.indexProductAddesc{
    width: 332px;
    height: 34px;
    margin-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #EEEEEE;
}

/* products container */
.indexProductsList{
    display: block;
    padding: 10px 0px;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;

    width: 370px;
    height: auto;

    background: #FEFEFE;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.indexProductsListTitle{
    display: block;
    margin: 5px 10px;
    width: 226px;
    height: 22px;

    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.ProductBox{
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 130px;
    
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

/* product img */
.ProductImg{
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px;
    background: url(./img/과잠.png);
    border-radius: 5px;
}

.ProductDesc{
    display: inline-block;
    width: 200px;
    height: 110px;
    margin: 10px;
}

.ProductCat{
    display: block;
    margin-top: 5px;
    width: 190px;
    height: 22px;

    font-weight: 500;
    font-size: 13px;
    line-height: 17px;

    color: #777777;
}

/* 상품 설명 영역 4온스 솜이 들어있어 보온이 잘 되는 야구점퍼 입니다 */
.Producttext{
    display: inline-block;
    margin: 5px 0px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    color: #000000;
}

.progressbarBox{
    width: 200px;
}

.attendees{
    display: inline;
    width: 62px;
    height: 24px;

    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #17794A;
}


.maxAttendees{
    display: inline;
    width: 42px;
    height: 23px;

    font-weight: 500;
    font-size: 12px;
    line-height: 17px;

    color: #999999;
}

.ddayCount{
    display: inline-block;
    width: 118px;
    height: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: right;

    color: #333333;

}

.progressbarBg{
    width: 200px;
    height: 5px;
    background: #D9D9D9;
    border-radius: 5px;
    overflow: hidden;
}

.progressbar{
    width: 130px;
    height: 5px;

    background: #17794A;
    border-radius: 5px;
}


/* 총대매기 버튼 */
.mydesignOpenBtn{
    display: flex;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    width: 340px;
    height: 31px;

    background: #FEFEFE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mydesignOpenBtnText{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    
}

.mydesignOpenBtnTextHl{
    color: #17794A;
}

.totalSold{
    width: 195px;
    height: 24px;
    margin-top: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #000000;

}
.totalSoldHl{
    font-size: 18px;
    color: #17794A;
}
.opendesignOpenBtn{
    display: block;
    width: 120px;
    height: 25px;
    float: right;

    margin-top: 18px;
    
    background: #17794A;
    border-radius: 15px;

    font-weight: 500;
    font-size: 11px;
    line-height: 16px;

    text-align: center;
    border: none;
    color: #FFFFFF;
}
.opendesignOpenBtn > a{
    display: inline-block;
    align-items: center;
    margin: auto;
}

/* index.html 끝 */

/* mypage.html */

/* 프로필 */
.profile{
    width: 393px;
    height: 110px;
    padding: 10px;
    
    box-sizing: border-box;
    margin-top: 10px;

    display: flex;
    align-items: center;
}
/* 프로필사진 */
.profile_pic{
    display: block;
    box-sizing: border-box;
    margin: 0px 10px;
    width: 80px;
    height: 80px;
    background: url(./img/ewhalogo.png);
}
/* 닉네임 */
.nickname{
    padding-left: 20px;
    display: block;
    float: left;
    width: 150px;
    box-sizing: border-box;
    height: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}
/* 로그아웃 버튼 */
.logoutBtn{
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    top: -40px;
    left: 40px;
}
.logoutBtnText{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;  
    color: #17794A;
}

/*네비게이션바*/
.mypageNav{
    display: block;
    box-sizing: border-box;
    margin: auto;
    width: 393px;
    height: 50px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.0666667);
    align-items: center;
}
.mypageNav > li{
    display: block;
    float: left;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.mypageNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}
.mypageNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}

/* 마이페이지 컨텐츠 */
.MypageContent{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    left: calc(50% - 370px/2 + 0.5px);
    top:267px;

    background: #FEFEFE;
}

/* 내 총대함*/
.manageBtn{
    position: relative;
    left:145px;
    top:-55px;

    border: 1px solid black;
    border-radius: 5px;

    width: 50px;
    height: 25px;
    background: #FEFEFE;
}
.manageBtnText{
    display: flex;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}
.manageBtnTextHl{
    width: 50px;
    text-align: center;
    color: #000000;
}

/* 내 디자인 */
.MypageDesign{
    display: inline-block;
    margin: auto;
    padding: 4px;
    width: 393px;
    box-sizing: border-box;
    background: #FEFEFE;
}

.designBox{
    width: 120px;
    height: 120px;
    padding: 4px;
    text-align: center;
    float: left;
}
.designImg{
    width: 120px;
    height: 120px;
    background: url(./img/내디자인.png);
}
.designDeleteBtn{
    position: relative;
    left:100px;
    top: -115px;
    width: 12px;
    height: 12px;
    background: url(./img/삭제버튼.png);
}
.designRegisterBtn{
    width: 120px;
    height: 120px;
    background: url(./img/이미지등록.png);
}

/* mypage.html 끝 */



/* design-register.html */
.designTitle{
    margin:20px 0 30px 0;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-style:normal;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
.designInfo p{
    margin: auto;
    width: 320px;
    font-family: 'Noto Sans KR';
    font-style:normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.designInfo p input{
    margin-top: 10px;
    padding: 5px;
    width: 310px;
    height: 40px;
    
    border: 1px solid black;
    border-radius: 5px;
}

.designRegisterImg{
    margin: 20px auto 20px auto;
    width: 320px;
    height: 320px;
    background: url(./img/디자인등록.png);
    background-repeat: no-repeat;
}

.designInfo textarea{
    margin-top: 10px;
    padding:10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 300px;

    resize: none;
    border: 1px solid black;
    border-radius: 5px;
}
.designInfo button{
    display: block;
    margin: 20px auto 20px auto;
    padding: 0;

    width: 320px;
    height: 50px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #ffffff;
    text-align: center;
}
/* design-register.html 끝 */


/*login.html*/

.loginSection{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    margin: auto;
}

.login-text{
    width: 100%;
    height: 26px;
    margin: auto;
    text-align: center;

}

.login-text > a{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
}

.loginBox{
    display: block;
    margin: auto;
    text-align: center;
}

.loginInputField{
    width: 300px;
    height: 40px;
    margin-bottom: 15px;

    background: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;

    color: rgba(86, 85, 85, 0.68);
}

.loginBox #email::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: rgba(86, 85, 85, 0.68);

}

.loginBox #password::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: rgba(86, 85, 85, 0.68);

}


.loginBtn{
    margin-bottom: 10px;
    width: 300px;
    height: 40px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 29px;

    color: rgba(255, 255, 255, 0.95);
    text-align: center;

}

.loginBtn:hover {
    background-color: #878a8d;
    /* Darker background color on hover */
}


.loginBtn:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

/*create-account.html*/

.createAccountSection{
    width: 100%;
    height: 55px;
    border-bottom: solid 1px #ddd;

    display: flex;
    align-items: center;
}

.before {
    /* before */
    width: 7px;
    height: 17px;
    position: relative;
    left: 7px;
    background: url(./img/before.png);
}

.createAccount-text{
    width: 100%;
    height: 26px;
    margin: auto;
    text-align: center;

}
.createAccount-text > a{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
}


.membertRegisterSection{
    padding: 20px;
}

.memberInputSection{
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 90%;
    height: auto;
    padding: 5px 10px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.memberInputLabel{
    min-width: 90px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 9px;
    
    font-weight: 700;
    font-size: 16px;
}

.memberInputField{
    width: 95%;
    height: 35px;
    border: solid 1px #ddd;
    border-radius: 5px;
}
#inputPassword{
    margin-bottom: 5px;
}
.addrLine{
    width: 90%;
    margin-bottom: 5px;
}



#sample6_postcode {
    display: inline-block;
    width: 65%;
    height: 35px;

    background: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;

}

#sample6_button {
    display: inline-block;
    width: 30%;
    height: 35px;

    background: #FFFFFF;
    border: 1px solid #696969;
    border-radius: 5px;

}

#sample6_address {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#sample6_detailAddress {
    display: inline-block;
    width: 80%;
    height: 35px;

    background: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#sample6_extraAddress {
    display: inline-block;
    width: 80%;
    height: 35px;

    background: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.authenticationBtns{
    margin: auto;
    text-align: center;
    width: 90%;
    height: auto;
}

.authenticationBtn {
    display: inline-block;
    
    box-sizing: border-box;

    width: 130px;
    height: 50px;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;

}

.authenticationBtn:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

.create-button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 0;

    width: 320px;
    height: 50px;

    background: #777;
    border: 1px solid #777;
    border-radius: 5px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #ffffff;
    text-align: center;

}

/* product-detail.html  */


.productDeatilContainer{
    padding: 20px;
}

.productDeatilImage{
    width: 323px;
    height: 300px;
    padding: 15px;
    text-align: center;
    border-bottom: solid 1px #ddd;
}

#productDetailImage{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.statusBox{
    width: 70px;
    height: 30px;
    margin: 10px;

    background: #FFFFFF;
    border: 0.5px solid #999999;
    border-radius: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    float: left;
}

#statusText{
    display: block;
    margin: auto;

    font-weight: 500;
    font-size: 15px;
    line-height: 26px;

    color: #17794A;
}


#productDetailTitle{
    margin: 10px;
    float: left;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
}

.productDetailInfo{
    width: 393px;
    height: auto;
}

.productDetailBox{
    display: flex;
    align-items: center;
    width: 323px;
    height: 50px;
    padding: 0px 15px;
    border-bottom: solid 1px #ddd;

}

#productDetailDescription{
    margin: auto;
}
.productDetailLabel{
    width: 90px;
}

.productDetailVar{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    color: #17794A;
}

.productDetailBox .userBox{
    display: flex;
    width: 200px;
}
.productDetailBox .userBox > img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.productDetailBox .userBox > .userName{
    width: 300px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #000000;
}

/* nav */
.productDeatilNav{
    display: block;
    list-style-type: none;
    padding: 0px 15px;
    margin: 0 15px;
    margin-bottom: 12px;
    text-align: center;
    width: 323px;
    height: 50px;
    align-items: center;
}

.productDeatilNav > li{
    display: inline-block;
    width: 30%;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
.productDeatilNav a{
    display: block;
    color: #777;
    padding: 10px;
    text-decoration: none;
}

.productDeatilNav .active{
    color: #17794A;
    border-bottom: solid 2px #17794A;
}

.writeGongji {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 323px;
    height: 40px;
    padding: 0px 15px;

    margin: auto;
    margin-bottom: 10px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.writegongji-text{
    display: inline-block;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    
    margin: 0;
}

.addButton {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.gongjiTab {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 323px;
    height: 70px;
    padding: 15px;

    margin: auto;
    margin-bottom: 10px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.gongjiTab-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    height: 100%;
}


.editButton {
    display: inline-block;
    width: 15px;
    display: flex;
    align-items:start;

}

.participateSection{
    text-align: center;
}

.participate-button {
    width: 323px;
    height: 40px;
    padding: 0px 15px;
    margin: 10px auto;

    background: #17794A;
    border: 1px solid #17794A;
    border-radius: 5px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 29px;

    color: rgba(255, 255, 255, 0.95);
    text-align: center;
}

.answer {
    display: block;
    margin: auto;
    margin-bottom: 30px;

    width: 370px;
    height: 70px;

}
#arrowImage{
    position: relative;
    left: 20px;
    top: 5px;
}

.answerTab {
    position: relative;
    left: 50px;
    top: -15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 320px;
    height: 70px;
    padding: 15px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.laterTab {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 323px;
    height: 100px;
    padding: 15px;

    margin: auto;
    margin-bottom: 10px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

#laterImage {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    margin-left: auto;
}


.laterButton {
    position: relative; /* 부모 요소에 대해 상대 위치 설정 */
    top: -160px;
    left: 335px;
}



/*product-register.html*/

.productRegisterSection{
    padding: 20px;
}

.productInputSection{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 5px 10px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.productInputLabel{
    min-width: 90px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 9px;
    
    font-weight: 700;
    font-size: 16px;
}
.productInputField{
    width: 90%;
    height: 30px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

#category{
    width: 90%;
    height: 35px;
}

.DateBox{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

#year, #year2, #month, #month2, #day, #day2{
    display: block;
    width: 70px;
    height: 26px;
    margin-right: 15px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

#inputMinAmount, #inputMaxAmount{
    
    width: 150px;
}


#getImage_button{
    width: 125px;
    height: 25px;
    text-align: center;
    margin-left: 15px;
}

.optionTitle{
    display: block;
    margin: 5px;
}

#inputAdd{
    width: 230px;
    height: 30px;
}

#inputAdddetail{
    width: 150px;
    height: 30px;
}

.trashButton {
    position: relative;
    width: 15px;
    height: 15px;
    left: 20px;
}

.plusButton {
    position: relative;
    width: 15px;
    height: 15px;   
    left: 30px;
}

#condition{
    width: 150px;
}

.registrationBtn{

    box-sizing: border-box;
    width: 90%;
    height: 40px;

    background: #17794A;
    border-radius: 5px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

    color: #fff;
}

.registrationBtn:hover {
    background-color: #878a8d;
    /* 호버시 배경 색상 변경 */
}

/*product-register.html 끝*/


/* verify-card.html */

.addCard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 323px;
    height: 40px;
    padding: 0px 15px;

    margin: auto;
    margin-bottom: 10px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.addCard-text{
    display: inline-block;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    
    margin: 0;
}

.bottombtn{
    margin-top: 600px;
}
