<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화공구함</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        .noto-sans {
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    </style>
</head>
<body>
    <div class="layoutWrap">
        <div class="layoutLeft">
            <div class="serviceCopy">함께 사는 즐거움,</div>
            <div class="serviceName">이화공구함</div>
        </div>
        <div class="layoutRight noto-sans">
            <div class="headerSection">
                <div class="logoBox" onclick="window.location.href='/'">
                    <img class="logo" src="../static/img/logo.png">
                    <a class="logoText">이화공구함</a>
                </div>
                <div class="notiNmypage">
                    <a href="#"><img class="noti" src="../static/img/noti.svg"></a>
                    <a href="/login"><img class="mypage" src="../static/img/mypage.svg"></a>
                </div>
            </div>
            <!--여기에 수정하세요-->
            <div class="designTitle">오픈 디자인 등록</div>
            <div class="designInfo">
                <p>디자인 이름
                    <input 
                    type="text" 
                    name="design_name" 
                    placeholder="디자인 이름을 입력해주세요.">
                </p>
                <div name="design_image_url" class="designRegisterImg"></div>
                <p>남기실 말
                    <textarea name="memo" id="" cols="30" rows="5" placeholder="-자유롭게 써주세요&#10;-출처를 밝혀주세요&#10;-변형하지 말아주세요"></textarea>
                </p>
                <button id="designUpload">디자인 등록하기</button>
            </div>  
        </div>
    </div>
</body>
</html>