<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화공구함</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="layoutWrap">
        <div class="layoutLeft">

        </div>
        <div class="layoutRight">
            <div class="headerSection">
                <div class="logo"></div>
                <div class="noti"></div>
                <div class="mypage"></div>
            </div>
            <!--여기에 수정하세요-->
            <div class="profile">
                <div class="profile_pic"></div>
                <div class="nickname">{{nickname}}<div class="edit"></div>
                </div>
                <div class="logoutBtn">
                    <div class="logoutBtnText"><span class="logoutBtnTextHl">로그아웃</div>
                </div>
            </div>

            <ul class="mypageNav">
                <li><a class="active" href="#">내 공구함</a></li>
                <li><a href="#">내 총대함</a></li>
                <li><a href="#">내 디자인</a></li>
            </ul>
            <div class="MypageProduct">
                <div class="ProductBox">
                    <div class="ProductImg"></div>
                    <div class="ProductDesc">
                        <a class="ProductCat">{{학잠}}</a>
                        <p class="Producttext">{{상품 이름}}</p>
                        <div class="progressbarBox">
                            <div class="attendees">{{20}}명</div>
                            <div class="maxAttendees">/{{30}}명</div>
                            <div class="ddayCount">{{마감까지 7일}}</div>
                            <div class="progressbarBg">
                                <div class="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ProductBox">
                    <div class="ProductImg"></div>
                    <div class="ProductDesc">
                        <a class="ProductCat">{{학잠}}</a>
                        <p class="Producttext">{{상품 이름}}</p>
                        <div class="progressbarBox">
                            <div class="attendees">{{20}}명</div>
                            <div class="maxAttendees">/{{30}}명</div>
                            <div class="ddayCount">{{마감까지 7일}}</div>
                            <div class="progressbarBg">
                                <div class="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ProductBox">
                    <div class="ProductImg"></div>
                    <div class="ProductDesc">
                        <a class="ProductCat">{{학잠}}</a>
                        <p class="Producttext">{{상품 이름}}</p>
                        <div class="progressbarBox">
                            <div class="attendees">{{20}}명</div>
                            <div class="maxAttendees">/{{30}}명</div>
                            <div class="ddayCount">{{마감까지 7일}}</div>
                            <div class="progressbarBg">
                                <div class="progressbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>